:root{
    --textGray: #808080;
    --mainOrange: #e69c36;
    --professionalGray: #333333;
    --europaFont: europa, sans-serif;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 5%;
    padding-bottom: 0px;
    font-size: 20px;
}

#left-logo-sect > a{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#left-logo-sect > a > span{
    color: #bb6d00;
}

#right-nav-buttons-cont > a{
    font-size: 16px;
    margin-right: 10px;
    padding-bottom: 5px;
    color: #808080;
    /* transition: border 2s ease-in; */
}

#right-nav-buttons-cont > a:hover{
    color: black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* MAIN LANDING PAGE - SECTION 1 */

#main-landing-section-1{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-container-75{
    width: 100%;
    height: 75%;
}

.main-header-text{
    margin-left: 5%;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin-bottom: 15px;
}

.main-header-text > h1:first-child{
    font-size: 25vh;
    font-weight: 500;
    margin: 0px;
}

.main-header-text > h1:last-child{
    font-size: 10vh;
    font-weight: 600;
    margin: 0px;
}

#subtext-landing{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 10px;
    font-family: europa, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #808080;
    max-width: 650px;
    line-height: 32px;
}

.main-center-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-center-div > button{
    background-color: transparent;
    background-color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: 1px solid;
    font-family: var(--europaFont);
    font-weight: 500;
    font-size: 15px;
    border-color: var(--mainOrange);
    color: var(--mainOrange);
}

.main-center-div > button > a{
    text-decoration: none;
    color: var(--mainOrange);
    width: max-content;
}

.main-center-div > button > a:hover{
    text-decoration: none;
    color: white;
}

.main-center-div > button:hover{
    cursor: pointer;
    color: white;
    background-color: var(--mainOrange);
}

/* SECTION 2 ABOUT ME */

.main-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper.sect-2 > div{
    width: 50%;
    height: 100vh;
}

.main-wrapper.sect-2 > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 35px;
    font-family: var(--europaFont)
}

.main-wrapper.sect-2 > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper.sect-2 > div > h2{
    width: 100%;
    max-width: 700px;
    font-size: 45px;
    margin-bottom: 5px;
    color: var(--professionalGray);
}

.main-wrapper.sect-2 > div > h2 > span{
    color: var(--mainOrange);
}

.main-paragraph-styles{
    width: 100%;
    max-width: 700px;
    font-size: 18px;
}

.main-paragraph-styles > span > a{
    color: var(--mainOrange);
    text-decoration: none;
}

.main-paragraph-styles > span > a:hover{
    color: var(--mainOrange);
    text-decoration:underline
}

.first-pic-about{
    object-fit: cover;
    border: 3px solid var(--mainOrange);
    border-radius: 50%;
    /* transition: margin 700ms; */
}

.first-pic-about.top-pic{
    width: 150px;
    height: 150px;
    margin-right: 330px;
    margin-bottom: -215px;
    max-width: 175px;
    max-height: 175px;
    z-index: 1;
}

.first-pic-about.mid-pic{
    margin-bottom: -125px;
    margin-left: 375px;
    width: 200px;
    z-index: 1;
}

.first-pic-about.bottom-pic{
    width: 350px;
    height: 350px;
    max-width: 600px;
    max-height: 600px;
}

.project-sect-wrapper{
    width: 100%;
    height: fit-content;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    color: var(--professionalGray)

}

.project-sect-wrapper > h2{
    margin: 25px 0px;
    font-size: 55px;
    text-align: center;
}
